
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="~/Content/auctionsite.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>3 Auctioneers</title>
</head>
<body>
    <div class="row">


        <div class="col-md-6 pull-left" style="padding-top: 3%;">
            <div>
                <div class="col-sm-8 col-md-9">
                    <div class="page-title">
                        <div class="capt">
                            <h1 class="lead">3 AUCTIONEERS</h1>
                        </div>
                        <div class="bg-title"></div>
                    </div>
                </div>
            </div>
            <div style="top: 25%; left: 25%; padding-left: 30%; padding-right: 30%; ">
                <p id="site-info">
                    Welcome to the 3 Auctioneers auctioneering auctionsite.<br />
                    Here at the 3 Auctioneers we auction off goods! You never would have guessed!<br />
                    If you have a login, please do so and let the Auction begin! Otherwise please register as a new user.<br />
                    Should you have any queries or problems, please contact our administrator who works 24/7 365 at <a href="www.google.com">CLICK HERE</a>
                </p>
            </div>


        </div>
        <div class="col-md-6 pull-right rightcol" id="rightcol">

            <div class="col-md-12" id="formdiv">
                <form method=get>
                    Username:<br />
                    <input type="text" name="usern" required /><br />
                    Password:<br />
                    <input type="password" name="pass" required /><br /><br />
                    <input type="submit" name="sub" class="btn" value="Login" />
                    <p style="display: inline;">  or &nbsp; <a href="Create" type="button" class="btn"> Register </a></p>&nbsp; a new account<br /><br />
                </form>
                
            </div>

        </div>


    </div>
</body>
</html>

